body {
    background: rgb(17,24,39);
    background: linear-gradient(0deg, rgba(17,24,39,1) 20%, rgba(30,41,59,1) 50%, rgba(51,65,85,1) 80%);
    color: white; /* Texte blanc pour contraste */
}

/* Style modernisé avec une bordure subtile */
.border-project {
    border: 2px solid rgba(59,130,246, 0.8); /* Bleu moderne semi-transparent */
    padding: 15px;
    margin: 10px 100px;
    border-radius: 8px; /* Coins arrondis pour un look plus doux */
    background: rgba(255, 255, 255, 0.05); /* Fond léger */
    box-shadow: 0px 4px 10px rgba(59,130,246, 0.2); /* Effet glow léger */
}
/* Effet soulignement animé au survol */
/* Style moderne pour le titre */
/* Ajoute un effet glow aux logos */
.tech-logo {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
    transition: transform 0.3s ease-in-out;
}

/* Zoom et glow renforcé au survol */
.tech-logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
}


.tech-logo:hover {
    animation: float 1s infinite ease-in-out;
}

